@import '../../assets/scss/main.scss';

.services {
  // background-color: red;

  > .container {
    @include breakpoint-up(large) {
      padding-top: 0;

    >  .title {
      // margin-bottom: 0;
    }
    }
  }

&__card-container {
  display: flex;
  justify-content: center;
}

&__content {
  display: flex;

  @include breakpoint-down(small) {
    flex-direction: column;
  }

  @include breakpoint-up(large) {
    padding-top: 0;
  }
}
}