// primary
$primary-900: #053358;
$primary-800 : #074C83;
$primary-700: #0966AF;
$primary-600 : #0C7FDA;
$primary-500: #2196F3;
$primary-400 : #48A8F5;
$primary-300 : #6EBBF7;
$primary-200 : #95CDF9;
$primary-100 : #BCDFFB;
$primary-50 : #CFE8FC;
$white-200 : #EFF2F4;

// gray
$gray-900 : #1E252B;
$gray-800 : #333F49;
$gray-700 : #485967;
$gray-600 : #5D7285;
$gray-500 : #768C9F;
$gray-400 : #91A3B2;
$gray-300 : #ACB9C5;
$gray-200 : #C7D0D8;
$gray-100 : #E2E7EB;
$gray-50 : #EFF2F4;
$white-100 : #FFFFFF;

// Font-sizes (divide by 16 to convert px to rem)
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px