@import '../../assets/scss/main.scss';

.hero {

  &__content {

    
    @include breakpoint-down(small) {
      // padding-top: 0px;
      // padding-bottom: 0px;
    }
  }
  
  &__text {
    max-width: 21.875rem;
    text-align: center;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint-up(large) {
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      // flex: 1;
      // text-align: left;
    }
    
  }

  // &__image {
  //   width: 100%;

  //   img {
  //     width: 100%;
  //     max-width: 570px;
  //     height: auto;
  //     max-height: 640px;
  //   }

  //   @include breakpoint-up(large) {
  //     flex: 1;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }

  &__greeting {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.1875rem;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: -0.125rem;
    margin-bottom: 1.3125rem;
    
    @include breakpoint-up(large) {
      font-size: 3rem;
    }

    > span {
      color: $primary-500;
      white-space: nowrap;
    }
  }

  &__introduction {
    margin-bottom: 2.1875rem;
  }

  &__buttons {
    column-gap: 20px;
    justify-content: center;

    // @include breakpoint-down(medium) {
    //   justify-content: center;
    // }
 
    // @include breakpoint-up(large) {
    //   justify-content: flex-start;
    // }
 
    .hire-me {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.125rem;
    }
  
    .portfolio {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.125rem;
    }
  }
}